{{!-- array passed, access each item by using this --}}
<option value="{{this}}">{{this}}</option>
{{!-- in case of ojbect passed we just use the property name --}}
{{!-- <option value="{{name}}">{{name}}</option> --}}
