<section id="viewCatalog" class="background-img">
    {{#if hotelAds}}
    <div class="added-hotels">
        {{#each hotelAds}}
            {{> homeCard}}
        {{/each}}
    </div>
    {{else}}
    <div class="guest">
        There are no Hotels found...
    </div>
    {{/if}}
</section>