<div class="card">
  <h3>{{type}}</h3>
  <p>{{name}}</p>
  <div class="cta-container"><a href="/catalog/{{_id}}" class="det-link">Details</a></div>
  <div class="card_circle"><img src="{{img}}"></div>
</div>