body {
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  max-width: 60vw;
  height: 300px;
}

img {
  width: 12%;
  border-radius: 10px;
  object-fit: cover;
  margin: 0 10px;
  box-shadow: 0px 0px 15px 10px rgba(0,0,-2,0.20);
}

img:nth-child(2) {
  width: 50%;
}
