@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

body {
  background-color: lightgray;
}

main{
  margin: 50px;
}

h2{
  font-size: 35px;
  font-weight: 500;
  margin-top: 40px;
}

a, button{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

.button {
  padding: 5px 10px;
  margin-right: 10px;
  border: 3px solid rgb(51, 51, 51);
  font-weight: 500;
  border-radius: 15px;
  color: rgb(51, 51, 51);
  background-color: inherit;
  cursor: pointer;
  outline: none;
}

.fill{
  background-color: rgb(51, 51, 51);
  color: rgb(251, 251, 251);
}

.hover:hover{
  background-color: rgb(0, 102, 0);
  border: 3px solid rgb(0, 102, 0);
}

main > button:nth-child(4):hover{
  color: rgb(0, 102, 0);
  background-color: rgb(251, 251, 251);
  border: 3px solid rgb(0, 102, 0);
} 
