<section id="all-listings">
    <h1>Apartments for recents</h1>
    {{#each listings}}
        {{> card}}
    {{else}}
        <div class="no-data-listing">
            <p class="no-offer">There are no housing offers found...</p>
        </div>
    {{/each}}

</section>
</main>

<footer>
    © 2021

</footer>
</div>

</body>

</html>