<form class="search" action="/search" method="get">
    <input type="search" name="search" value="{{query}}" placeholder="Search email...">
    <button type="submit" class="btn-search">
        <!-- Do not forget to change the path to the image -->
        <img src="/static/img/search-icon.png" alt="search-icon">
        Search
    </button>
</form>


<!--If there are a search matches, show each ad-->
{{#if query}}
<section id="search-page">
    <h2>Search result:</h2>
    {{#each results}}
    {{> searchPageCard}}
    {{else}}
    <!--If not show:-->
    <article class="search-page-no-result">
        <p class="search-page-no-result-message">No match found.</p>
    </article>
    {{/each}}
</section>
{{/if}}