@media screen and (max-width: 600px) {
  #home .navbar {
    padding-top: 20px;
  }

  #home .navbar .navbar-brand {
    margin: 0 auto;
  }

  #home h1 {
    margin-top: 70px;
  }

  #home .hero img {
    display: none;
  }

  #home .hero-btns {
    margin-bottom: 150px;
  }

  #about-us .hero-btns {
    margin-bottom: 50px;
  }

  .hero-btns a {
    width: 60%;
    display: block;
    margin: 0 auto;
  }

  .container-fluid {
    text-align: center;
  }

  #about-us .row {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }

  div.col-sm-6 {
    max-width: 85%;
    text-align: left;
  }

  section.about {
    text-align: center;
    margin-bottom: 50px;
  }

  .about > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    margin-bottom: 80px;
  }

  #contact-us {
    text-align: center;
  }

  footer {
    margin-top: 100px;
  }

  footer .contact-nav li {
    display: block;
  }
}
