body {
  background-color: beige;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

#container {
  width: 980px;
  margin: auto;
  text-align: center;
  background-color: darkgoldenrod;
  padding: 32px;
  height: 100vh;
}

nav li {
  list-style: none;
  display: inline-block;
}

nav a {
  text-decoration: none;
  background-color: rgb(89, 107, 185);
  padding:  4px 8px;
  color: white;
}

nav a:hover {
  background-color: rgb(75, 75, 75);
}

.italic {
  font-style: italic;
}

.car {
  width: 500px;
  background-color: darkorange;
  color: white;
  font-size: 24px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  list-style: none;
}

label {
  display: block;
}

label span {
  display: inline-block;
  width: 100px;
}

.promoted {
  background-color: chocolate;
  color: brown;
}