<h1>About CarZone</h1>
<div class="about">
  <p>
    <i>"CarZone"</i> is a place, where you can browse some of the most popular car brands in the world and add
    some new ones that
    you have discovered. This application was created as an exercise for the <a
      href="https://softuni.bg/trainings/2452/js-back-end-september-2019">JS Back-End course</a> at the
    <a href="https://softuni.bg/">Software University</a>.
  </p>
</div>